# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Fichiers de sauvegarde
*.bak

# Scripts Python extraits
# Nous gardons la structure des dossiers mais ignorons les fichiers Python
/flutter_app/assets/shared_python/**/*.py
/flutter_app/assets/shared_python/**/*.pyc
!/flutter_app/assets/shared_python/**/.gitkeep

# Environnement Python
__pycache__/
*.py[cod]
*.so
.Python
.env
.venv
env/
venv/
ENV/
